<div class="p-2">
  <table
    class="border-collapse my-2 text-sm min-w-[400px] rounded-md shadow-md"
  >
    <thead>
      <tr class="text-center text-black bg-emerald-600 font-bold">
        <th class="p-2">Name</th>
        <th class="p-2">Description</th>
        <th class="p-2">Date</th>
        <th class="p-2">Active</th>
      </tr>
    </thead>
    <tbody>
      @for(issue of issues$ | async; track issue) {
      <tr
        (click)="onRowClick(issue?.id)"
        class="text-center border-b-2 text-black bg-gray-400 odd:bg-gray-300 last-of-type:border-emerald-600 cursor-pointer"
      >
        <td class="p-2">{{ issue?.name }}</td>
        <td class="p-2 max-w-[200px] truncate">
          {{ issue?.description }}
        </td>
        <td class="p-2">{{ issue?.date }}</td>
        <td class="p-2">
          @if(issue?.active) {

          <span class="relative flex h-3 w-3">
            <span
              class="animate-ping absolute inline-flex h-full w-full rounded-full bg-emerald-400 opacity-75"
            ></span>
            <span
              class="relative inline-flex rounded-full h-3 w-3 bg-emerald-500"
            ></span>
          </span>
          } @else {
          <span class="relative flex h-3 w-3">
            <span
              class="relative inline-flex rounded-full h-3 w-3 bg-red-500"
            ></span>
          </span>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
  <div
    class="border-2 border-r-emerald-600"
    infinite-scroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="1000"
    (scrolled)="onScroll()"
  ></div>

  @if(!finished) {
  <label>Loading...</label>
  } @if(finished) {
  <label>end</label>
  }
</div>
