<p>new-issue works!</p>
<div class="flex flex-row justify-center items-center mx-auto">
  <form [formGroup]="form">
    <div class="flex flex-col gap-2 items-start">
      <label for="name" class="">Issue name</label>
      <input
        type="text"
        formControlName="name"
        id="name"
        class="p-2 rounded-md border text-black border-emerald-700 bg-emerald-400 focus:bg-emerald-500 focus:outline focus:outline-emerald-700 duration-500"
      />
    </div>
    <div class="flex flex-col gap-2 items-start">
      <label for="description">Issue Description</label>
      <textarea
        formControlName="description"
        id="description"
        class="p-2 rounded-md border text-black border-emerald-700 bg-emerald-400 focus:bg-emerald-500 focus:outline focus:outline-emerald-700 duration-500"
      ></textarea>
    </div>
    <div class="flex flex-col items-start">
      <label>Date and hour</label>
      <div class="flex flex-row gap-2">
        <input
          type="date"
          class="p-2 mb-2 rounded-md border text-black border-emerald-700 bg-emerald-400 focus:bg-emerald-500 focus:outline focus:outline-emerald-700 duration-500"
        />
        <input
          type="time"
          class="mb-2 p-2 mb-2 rounded-md border text-black border-emerald-700 bg-emerald-400 focus:bg-emerald-500 focus:outline focus:outline-emerald-700 duration-500"
        />
      </div>
    </div>
  </form>
</div>
